.about .content {
  text-align: justify;
}
footer {
  padding:5px 0px 5px 0px;
  background-color: transparent;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer p{ 
    text-align: right;
    margin: 0px;
}
.orderimage{
  height: 200px !important;
  width: 200px;
}

.productimage{
  height: 300px;
  width: 300px;
}